html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative; */
  overflow-x: hidden;
  /* text-align: center; */
}
 
:root{
  --first-color: rgb(23, 94, 157);
  --second-color: rgb(213, 236, 252);
  --text-color:hsl(250, 8%, 45%);
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.link-btn {
  text-decoration: none;
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: .5rem 1.25rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  cursor: pointer;
}


.submit-btn {
  background-color: var(--first-color);
  color: #ffffff;
  border: none;
  padding: .5rem .75rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin: .5rem;
}

.navbar {
  background-color: var(--second-color);
  margin-top: -1.25rem;
  height: 100px;
  padding: 0rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo{
  text-decoration: none;
  color: var(--first-color);
  font-size: 1.75rem;
}
.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-menu ul li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--first-color);
  margin-left: 1rem;
}
.close{
  display: none;
}

.hovering{
    border-bottom: 4px solid var(--first-color);
    color: var(--first-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-size: 1.35rem;
    font-weight: 600;
    margin-left: 1rem;

}

.toggle-btn {
  color: var(--first-color);
  font-size: 2rem;
  display: none;
}

.account{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-account{
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.user-icon{
  font-size: 1.5rem;
  color: var(--first-color);
}


/* ======================== */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #388087; */
  height: 100%;
  width: 100%;
  /* padding: 0rem 2rem; */
}

.home-container .heading {
  font-size: 1.75rem;
  color: var(--first-color);
  padding-top: 1.5rem;

}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s infinite both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s infinite both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


.home-container .img-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.home-container .main-img {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-container .main-img img {
  width: 100%;
  height: 100%;
}

.home-container .second-img {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;


}

.home-container .second-img img {
  width: 100%;
  height: 100%;
}

.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.explore-btn {
  width: 150px;
  height: 50px;
  background-color: var(--first-color);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 2rem 0rem;
}

.home-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7rem;
}

.description {
  text-align: center;
  color: rgb(252, 50, 5);
  font-size: 1.75rem;
}

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ============================= */
footer {
  color: var(--first-color);
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(176, 173, 173);

}

footer .contact-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


footer .contact-info .info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

footer .contact-info .info i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

footer .site-map {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .site-map iframe {
  width: 350px;
  height: 300px;
}

footer .pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

footer .pages a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--first-color);
  margin-top: 1rem;
}

footer .social-media {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .social-media .social-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-media i {
  font-size: 1.75rem;
  margin-right: .75rem;
}



/* =======Explore page ========= */
#explore {
  padding: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  
}

.outer-container {
  padding: .5rem;
  border: 3px solid var(--second-color);
  border-radius: 2.5rem;
  margin-bottom: 2rem;
}

.vehicle-container {
  height: 450px;
  width: 350px;
  background-color: var(--second-color);
  border-radius: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.vehicle-container .vehicle-image {
  height: 50%;
  width: 100%;
}

.vehicle-container .vehicle-image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.vehicle-card-details {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vehicle-card-details i{
  color: var(--first-color);
}
.vehicle-card-details h2{
  margin: .5rem 0rem;
}
.vehicle-card-details p {
  font-weight: 700;
  margin: .25rem 0rem;
}
.vehicle-card-btn{
  margin: 1rem 0rem;
}



/* =========Boking page============ */

#booking-page {
  width: 95%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 3rem;
  background-color: #f7f8fc;
}

.booking-container {
  width: 45%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.vehicle-info {
  display: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4rem;
  margin-bottom: 1rem;
}
.vehicle-info .vehicle-img{
  width: 60%;
}
.vehicle-info .vehicle-img img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.vehicle-description{
  text-align: center;
}
.vehicle-description h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.vehicle-description p {
  font-size: 1.25rem;
  color: #000000;
  margin: 0.5rem 0;
}

.imp-points {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  gap: 1.5rem;

}

.imp-points .point h2 {
  font-size: 1.25rem;
}

.imp-points .point p {
  font-size: 1rem;
  color: #666;
}

.booking-details {
  width: 45%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;

}

.booking-details h1 {
  font-size: 1.75rem;
  margin-bottom: .5rem;
  color: #333;
}

.booking-details form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.booking-details .input-fields {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: .5rem;
}

.booking-details .input-fields label {
  font-weight: bold;
  /* margin-right: 1rem; */
}


.booking-details .input-fields .custom-datepicker {
  min-width: 100%;
  height: 45px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}


.booking-details .input-fields .input-field {
  width: 98%;
  height: 30px;
  outline: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.booking-details .input-fields select{
  width: 100%;
  height: 45px;
  outline: 0;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;

}

.booking-details .input-fields .input-field::placeholder{
  color: #ddd;
}
.booking-details .custom-datepicker::placeholder{
  color: #ddd;
}


.booking-details button {
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: .5rem;
}

.booking-details button:disabled {
  background-color: #6e6c6c;
}

.booking-details .input-fields p {
  font-weight: bold;
  color: #333;
}




/* =========Error page========== */
#error-page {
  text-align: center;
  padding: 2rem;

}

.status-code {
  font-size: 5rem;
  line-height: 0;
  color: #388087;
}

.page-not {
  color: #388087;
  font-size: 1.5rem;
}

.error-info {
  font-size: 1.15rem;
}

.btn {
  height: auto;
  width: auto;
  border-radius: .5rem;
  border: none;
  background-color: #388087;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem;
}
.btn a{
  text-decoration: none;
  color: aliceblue;
  padding: 1rem .5rem;

}



/* ============about page============== */
.about-page {
  padding: 4rem;
}

.about-page .about-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  padding-bottom: 2rem;
}

.about-page .about-description .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  text-align: left;
  font-size: 1.2rem;
  color: var(--text-color);

  h1 {
    color: var(--first-color);
    font-size: 2rem;
  }
}

.about-page .about-description .about-img {
  width: 40%;
  height: 80%;

}

.about-page .about-description .about-img img {
  width: 100%;
  height: 100%;
}

.about-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-advantages h1 {
  font-size: 2rem;
  color: var(--first-color);
}

.about-advantages .advantages {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about-advantages .advantages .advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 220px;
  border: 2px solid var(--first-color);
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;

}
.about-advantages .advantages .advantage p{
  color: var(--text-color);
}
.about-advantages .advantages .advantage h2 {
  color: var(--first-color);
}

/* ==========Terms & Conditions=========== */
.terms-conditions {
  padding: 1rem 5rem;
}

.terms-conditions .tm-heading {
  text-align: center;
  color: var(--first-color);
  font-size: 2rem;
}

/* =========contact page========== */
.contact-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 2rem;


  h1 {
    font-size: 2rem;
    margin: 3rem 0 0 0;
    color: var(--first-color);
  }
}

.contact-form {
  width: 50%;
  background-color: #e6e9ee;
  border-radius: .5rem;
  padding: 2rem 1rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .35rem;
  margin-bottom: 1rem;
}

.input-field {
  height: 50px;
  border: none;
  border-radius: .5rem;
  padding: 0 0 0 1rem;
  background-color: white;
  outline: 0;
  color: var(--first-color);
  font-size: 1.3rem;
}
.input-fields label{
  color: var(--first-color);
  font-size: 1.25rem;
}

.input-fields textarea {
  border: 1px solid var(--first-color);
  border-radius: .5rem;
  padding: .75rem;
  outline: 0;
  color: var(--first-color);
  font-size: 1rem;
}
.input-fields textarea::placeholder{
  color: var(--first-color);
  font-size: 1.25rem;
}

/* =========login page========== */
.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  

  h1 {
    color: var(--first-color);
    font-size: 2rem;
  }
}

.login-form {
  width: 50%;
  background-color: #e6e9ee;
  border-radius: .5rem;
  padding: 2rem 1rem;
}

.login-link{
  text-align: center;
}
.register-link .log-link{
  text-decoration: none;
  font-size: 1.25rem;
}

.input-field::placeholder{
  color: 1.25rem;
  color: var(--first-color);
}
.register-link{
  text-align: center;
}
.register-link .reg-link{
  text-decoration: none;
  font-size: 1.25rem;
}
.register-link .reg-link:hover{
  color: var(--first-color);
  text-decoration: underline;
}

/* ======register page========== */
.register-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;

  h1 {
    color: var(--first-color);
    font-size: 2rem;
  }
}

.register-form {
  width: 50%;
  background-color: #e6e9ee;
  border-radius: .5rem;
  padding: 2rem 1rem;
}
/* ==========Account page =========== */
#account-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem;
}
#account-page .user-avatar{
  padding: .25rem;
  border: 2px solid var(--first-color);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  margin: 2rem;
}
#account-page img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
#imageUpload{
  display: none;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 0;
}
.overlay:hover{
  opacity: 1;
}

#account-page .user-details{
  width: 300px;
  justify-content: center;
  align-items: center;
}
#account-page .user-details .edit-username{
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#account-page .user-details .edit-username input{
  width: 70%;
  height: 100%;
  outline: 0;
  border-radius: .5rem 0 0 .5rem;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
#account-page .user-details .edit-username button{
  width: 20%;
  height: 40px;
  border-radius: 0 .5rem .5rem 0;
  outline: 0;
  border: 2px solid var(--first-color);
  background-color: var(--first-color);
  font-size: 1.25rem;

}
#account-page .user-details .change-pass{
  width: 90%;
  text-align: center;
}
#account-page .user-details a{
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--first-color);
}
#account-page .user-details a:hover{
  text-decoration: underline;
}

/* =======admin panel======= */
.admin-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-nav{
  width: 100%;
  height: 50px;
  padding-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-nav ul{
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  background-color: var(--second-color);
  border-radius: .5rem;

}
.admin-nav ul li,
.admin-nav ul li a{
  list-style: none;
  text-decoration: none;
  padding: .5rem 1rem;
  font-size: 1.15rem;
  color: var(--first-color);
  
}
.admin-nav-active{
  background-color: white;
  border-radius: .5rem;
}


table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 1px solid var(--first-color);
  font-size: 1.25rem;
}

/* Style table headers */
th {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid var(--first-color);
  border-right: 1px solid var(--first-color);

}

/* Style table rows */
td {
  min-width: 100px; 
  max-width: 200px; 
  min-height: 50px; 
  max-height: 100px;
  padding: .5rem;
  text-align: center;
  border-bottom: 1px solid var(--first-color);
  border-right: 1px solid var(--first-color);
}
.pick-location{
  width: 300px;;
}

thead tr {
  color: var(--first-color);
}

/* =======admin-dashboard======== */
.admin-dashboard{
  width: 90%;
  padding: 2.5rem;
  overflow: auto;
}
.update-status{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
select{
  height: 100%;
  /* padding: .25rem; */
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: 0;
  border-radius: .5rem;
}
.status-box{
  border: 2px solid var(--first-color);
}
.select-status{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.status-btn{
  height: 35px;
  padding: .25rem;
  text-align: center;
}


/* =====add vehicle======== */
#vehicle-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* background-color: var(--second-color); */

  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
  }

  label{
    font-size: 1.75rem;
    padding-bottom: 1rem;
  }
}

.vehicle-form {
  width: 50%;
  /* min-width: 800px; */
  height: auto;
  border-radius: .5rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #e6e9ee;
}

.vehicle-form select {
  height: 50px;
  background-color: white;

}
.edit-user-form{
  width: auto;
  min-width: 400px;
  height: auto;
  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #e6e9ee;
}
.vehicle-edit-page{
  width: 600px;
  height: auto;
  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #e6e9ee;
}


/* ===========my booking page=========== */
.my-bookings-container {
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--first-color);
}

.booking-card {
  
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem 2.5rem;
  margin-bottom: 1.25rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 0%);
  font-size: 1.25rem;
  font-weight: 600;
}

.vehicle-info {
  display: flex;
}

.vehicle-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}
.vehicle-details{
  /* text-align: left; */
  color: #000;
}

.vehicle-details h3 {
  margin: 0;

}

.vehicle-details p {
  margin: 5px 0;
}

.booking-info {
  width: 43%;
}

.booking-info p {
  margin: 8px 0;

}
.booking-btns{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.status-badge{
  padding: .5rem 0;
  background-color: var(--second-color);
  border-radius: .5rem;
  color: var(--first-color);
  text-align: center;
  margin: .25rem;
}
.pending{
  color: rgb(255, 183, 0);
}
.confirm{
  color: var(--first-color);
}
.completed{
  color: rgb(7, 200, 7);
}
.cancel{
  color: rgb(244, 46, 46);
}
.status-badge, .cancel-btn, .contact-btn{
  width: 150px;
  font-weight: 600;
}
.cancel-btn{
  background-color: rgb(244, 46, 46);
}
.contact-btn{
  text-align: center;
  padding: .5rem 0rem;
}
.booking-price, .pay-status{
  font-size: 1.5rem;
  color: var(--first-color);
}



































@media screen and (max-width : 1096px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

  }

  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    padding: 1rem 2rem 0 2rem;
    height: 70px;

  }
  
  .nav-menu ul {
    display: none;
    position: relative;
  }
  .navbar .logo{
    font: 1rem;
  }

  .nav-menu ul.active {
    width: 300px;
    height: 100vh;
    background-color: rgb(213, 236, 252);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }

  .nav-menu ul li {
    padding: 1rem;
  }

  .close {
    display: block;
    font-size: 2rem;
    color: #388087;
    margin-left: 1.75rem;
  }

  .toggle-btn {
    display: block;
    margin-left: 1.5rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .about-page .about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .about-page .about-description .description {
    width: 80%;
  }

  .about-page .about-description .about-img {
    width: 85%;
    height: 700px;
  }

  .about-advantages .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-page .about-description .description h1 {
    font-size: 1.5rem;
  }

  /* =======admin page====== */
  .admin-navbar {
    display: block;
    position: absolute;
    left: 2rem;
    font-size: 2.5rem;
  }

  .admin-sidebar {
    position: absolute;
    left: -400px;
    width: 400px;
    min-height: 100vh;
    height: auto;

  }
  .sidebar-active {
    left: 0;
  }

  /* ========mybooking========= */
  .booking-card{
    display: flex;
    flex-wrap: wrap;
  }
  .booking-btns{
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  .vehicle-details{
    text-align: left;
  }
  /* =====booking page======= */
  /* ======booking page ========== */
  #booking-page {
    width: 95%;
    height: 90vh;
    padding: 4rem 1rem;}
  .vehicle-info{
    width: 100%;
    gap: .5rem;
    margin: 1rem 0rem;
    padding-bottom: 1rem;
  }
  .imp-points {

    gap: .5rem;
} 
  .vehicle-info .vehicle-img {
    width: 90%;
    height: 150px;
    
  }
  .vehicle-info .vehicle-img img {
    width: 100%;
    height: 100%;

  }
  .vehicle-description{
    text-align: center;
  }
}











@media screen and (max-width : 768px) {
  .navbar {
    padding: 1rem .75rem 0 .75rem;
    height: 70px;
  }
  .navbar .logo{
    font-size: 1.25rem;
  }
  .home-container {
    height: auto;
  }

  .home-container .img-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .home-container .heading {
    font-size: .75rem;
  }

  .home-container .main-img {
    width: 90%;
  }

  .home-container .second-img {
    width: 90%;
  }

  .home-container .explore-btn {
    margin-bottom: 1rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  footer .site-map iframe {
    width: 250px;
    height: 200px;
  }


  /* ========about page========== */
  .about-page {
    padding: 1rem;
  }

  .about-page .about-description .description h1 {
    font-size: 1.2rem;
  }

  .about-page .about-description .about-img {
    width: 90%;
    height: 500px;
  }

  .terms-conditions {
    padding: 1.5rem;
  }

  .terms-conditions .tm-heading {
    font-size: 1.5rem;
  }


  /* ========Explore page======= */
  #explore {
    padding: .5rem;
  }
  .outer-container{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vehicle-container {
    width: 100%;
    height: auto;
    padding: .5rem;
  }
  .vehicle-container .vehicle-image {
    height: 45%;
    width: 95%;
  }
  .vehicle-card-details {
    width: 90%;
  }

  /* =======contact page======= */
  .contact-form{
    width: 100%;
    margin-bottom: 0;
  }

  /* =======login form======== */
  .login-form{
    width: 100%;
  }

  /* ========register form========= */
  .register-form{
    width: 100%;
  }

  /* =========mybooking========== */
  .my-bookings-container{
    width: 95%;
    padding: 1rem .75rem;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .booking-card {
    width: 95%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    /* background-color: lightblue; */
  }
  .vehicle-info{
    width: 90%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  .vehicle-details{
    width: 40%;
    text-align: center;
  }
  .booking-info{
    width: 90%;
    
    p{
      margin-bottom: 1rem;
    }
  }
  .booking-btns{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  /* ==========admin navbar ========== */
  .admin-nav ul {
    width: 90%;
    height: 50px;
    padding: 0rem 1rem;
    /* overflow-x: scroll; */
  }
  .admin-nav ul li {
    width: 200px;
    padding: .5rem 0rem;
  }

  #vehicle-page {
    width: 85%;
    min-height: 85vh;
    /* background-color: red; */
  }
  .vehicle-form {
    width: 100%;
    padding: 1.5rem .75rem;
    margin: .5rem;

  }
  .edit-user-form{
    width: 95%;
    min-width: 90%;
    padding: 1rem .5rem;
    margin: .5rem;
  }
  .vehicle-edit-page{
    width: 95%;
    min-width: 90%;
    padding: 1rem .5rem;
    margin: .5rem;
  }
  .vehicle-edit-page .input-fields img{
    width: 80%;
  }
  /* ======= booking page ======== */
  #booking-page {
    width: 95%;
   height: auto;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    /* background-color: #000; */
  }
  .booking-container {
    width: 95%;
    padding: .5rem;
  }
  .vehicle-info{
    width: 100%;
    gap: .5rem;
    margin: 1rem 0rem;
  }
  .vehicle-info .vehicle-img {
    width: 70%;
    height: 150px;
    
  }
  .vehicle-info .vehicle-img img {
    width: 100%;
    height: 100%;

  }
  .vehicle-info .vehicle-description{
    text-align: center;
    h1{
      font-size: 1rem;
    }
  }
  .imp-points {
    gap: 0rem;
  }
  .booking-details {
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    text-align: center;
  }
  .booking-details  form{
    width: 95%;
    padding: .5rem;
    text-align: center;
  }
  .booking-details .input-fields {
    width: 95%; 
  }
}