html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(18, 11, 11); */
  position: relative;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  margin-top: -1.25rem;
  height: 100px;
  padding: 0rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 1000;
}

.navbar .logo a {
  text-decoration: none;
  color: #388087;
  font-size: 1.75rem;
}

.nav-menu ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  margin-left: 1.75rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: #388087;
}

.toggle-btn {
  color: #388087;
  font-size: 2rem;
  display: none;
}

/* ======================== */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #388087;
  height: 100%;
  width: 100%;
  /* padding: 0rem 2rem; */
}

.home-container .heading {
  font-size: 1.75rem;
  color: aliceblue;
  padding-top: 1.5rem;

}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s infinite both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s infinite both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


.home-container .img-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.home-container .main-img {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-container .main-img img {
  width: 100%;
  height: 100%;
}

.home-container .second-img {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* background-color: blue; */

}

.home-container .second-img img {
  width: 100%;
  height: 100%;
}

.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-fwd-right 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

.home-container .explore-btn {
  width: 150px;
  height: 50px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 2rem 0rem;
}

.home-container a {
  text-decoration: none;
  color: #388087;
  font-size: 1.7rem;
}

.description {
  text-align: center;
  color: rgb(252, 50, 5);
  font-size: 1.75rem;
}

.text-focus-in {
  -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ============================= */
footer {
  color: #388087;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: black;

}

footer .contact-info {
  padding: 1rem;
}

footer .contact-info .info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

footer .contact-info .info i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

footer .site-map {
  padding: 1rem;
}

footer .site-map iframe {
  width: 350px;
  height: 300px;
}

footer .pages {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer .pages a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #388087;
  margin-top: 1rem;
}

footer .social-media {
  padding: 1rem;
}

footer .social-media i {
  font-size: 1.75rem;
  margin-right: .75rem;
}

#booking-page{
  height: 100vh;
  text-align: center;
  display: flex;
  
}




/* =======Explore page ========= */
#explore {
  padding: 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  
}

.outer-container {
  padding: .5rem;
  border: 2px solid rgb(213, 236, 252);
  border-radius: 2.5rem;
  margin-bottom: 2rem;
}

.vehicle-container {
  height: 450px;
  width: 350px;
  background-color: rgb(235, 245, 252);
  border-radius: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vehicle-container .vehicle-image {
  height: 50%;
  width: 100%;
}

.vehicle-container .vehicle-image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.vehicle-details {
  text-align: center;
  color: #388087;
}

.vehicle-details p {
  font-weight: 700;
}




/* =========Error page========== */
#error-page {
  text-align: center;
  padding: 2rem;

}

.status-code {
  font-size: 5rem;
  line-height: 0;
  color: #388087;
}

.page-not {
  color: #388087;
  font-size: 1.5rem;
}

.error-info {
  font-size: 1.15rem;
}

.btn {
  height: auto;
  width: auto;
  border-radius: .5rem;
  border: none;
  background-color: #388087;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 600;
}
.btn a{
  text-decoration: none;
  color: aliceblue;
}



/* ============about page============== */
.about-page {
  padding: 4rem;
}

.about-page .about-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  padding-bottom: 2rem;
}

.about-page .about-description .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  text-align: left;
  font-size: 1.2rem;
  color: rgb(65, 62, 62);

  h1 {
    color: #388087;
    font-size: 2rem;
  }
}

.about-page .about-description .about-img {
  width: 40%;
  height: 80%;

}

.about-page .about-description .about-img img {
  width: 100%;
  height: 100%;
}

.about-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-advantages h1 {
  font-size: 2rem;
  color: #388087;
}

.about-advantages .advantages {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 1rem;
}

.about-advantages .advantages .advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 220px;
  border: 1px solid #388087;
  border-radius: 2rem;
  text-align: center;
  padding: 1rem;

}

.about-advantages .advantages .advantage h2 {
  color: #388087;
}

/* ==========Terms & Conditions=========== */
.terms-conditions {
  padding: 1rem 5rem;
}

.terms-conditions .tm-heading {
  text-align: center;
  color: #388087;
  font-size: 2rem;
}

/* =========contact page========== */
.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  h1 {
    margin: 0;
  }
}

.contact-form {
  width: 400px;
  height: 450px;
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .35rem;
  margin-bottom: 1rem;
}

.input-field {
  height: 30px;
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 0 0 0 1rem;
  outline: 0;
  color: #388087;
  font-size: 1.3rem;
}

.input-fields textarea {
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 0 0 0 1rem;
  outline: 0;
  color: #388087;
  font-size: 1rem;
}

/* =========login page========== */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
  }
}

.login-form {
  width: 400px;
  height: 200px;
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* ======register page========== */
.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
  }
}

.register-form {
  width: 400px;
  height: 450px;
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* =======admin panel======= */
.admin-controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-upper {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #388087;
  color: aliceblue;
  font-size: 1.5rem;
  position: relative;
}

.admin-lower {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  /* background-color: red; */
  position: relative;
}

.admin-sidebar {
  width: 400px;
  background-color: #388087;
  padding: 1rem;
}

.admin-navbar {
  display: none;

}

.admin-sidebar ul {
  display: flex;
  flex-direction: column;
}

.admin-sidebar ul li,
.admin-sidebar ul li a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.admin-sidebar ul li {
  border: 1px solid aliceblue;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: center;
}

/* =====add vehicle======== */
.vehicle-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
  }
}

.vehicle-form {
  width: 400px;
  height: 500px;
  border: 1px solid #388087;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.vehicle-form select {
  height: 35px;
}

#admin-panel {
  background-color: #8d9fa1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 2px solid #388087;
}

/* Style table headers */
th {
  background-color: #388087;
  text-align: left;
  padding: 8px;
}

/* Style table rows */
td {
  padding: 8px;
  border-bottom: 1px solid rgb(23, 94, 157);
}

thead tr {
  color: white;
}


/* Style links */
.admin-edit-btn {
  text-decoration: none;
  color: #007bff;
  background-color: rgb(23, 94, 157);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Style delete button */
button {
  background-color: rgb(23, 94, 157);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}





















@media screen and (max-width : 1096px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

  }

  #root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    padding: 2rem 2rem 0 2rem;
    margin-right: -1rem;

  }

  .nav-menu ul {
    display: none;
  }

  .nav-menu ul.active {
    width: 300px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem 0;
  }

  .nav-menu ul li {
    padding: 1rem;
  }

  .close {
    font-size: 2rem;
    color: #388087;
    margin-left: 1.75rem;
  }

  .toggle-btn {
    display: block;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .about-page .about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .about-page .about-description .description {
    width: 80%;
  }

  .about-page .about-description .about-img {
    width: 85%;
    height: 700px;
  }

  .about-advantages .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-page .about-description .description h1 {
    font-size: 1.5rem;
  }

  /* =======admin page====== */
  .admin-navbar {
    display: block;
    position: absolute;
    left: 2rem;
    font-size: 2.5rem;
  }

  .admin-sidebar {
    position: absolute;
    left: -400px;
    width: 400px;
    min-height: 100vh;
    height: auto;

  }
  .sidebar-active {
    left: 0;
  }

  /* =====Explore page======= */
    /* #explore{
      display: grid;
      grid-template-columns: 1fr 1fr;
    } */
}











@media screen and (max-width : 768px) {
  .home-container {
    height: auto;
  }

  .home-container .img-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .home-container .heading {
    font-size: 1rem;
  }

  .home-container .main-img {
    width: 90%;
  }

  .home-container .second-img {
    width: 90%;
  }

  .home-container .explore-btn {
    margin-bottom: 1rem;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
  }

  footer .site-map iframe {
    width: 250px;
    height: 200px;
  }


  /* ========about page========== */
  .about-page {
    padding: 1rem;
  }

  .about-page .about-description .description h1 {
    font-size: 1.2rem;
  }

  .about-page .about-description .about-img {
    width: 90%;
    height: 500px;
  }

  .terms-conditions {
    padding: 1.5rem;
  }

  .terms-conditions .tm-heading {
    font-size: 1.5rem;
  }


  /* ========Explore page======= */
  .vehicle-container {
    width: 320px;
    padding: .5rem;
  }
  .vehicle-container .vehicle-image {
    height: 45%;
    width: 100%;
  }
}